@model Ravency.Web.Areas.Configuration.Languages.Add.Command

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5" style="margin-top: 15px">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Add Language</h3>
                    </div>
                    <form id="add-form" asp-action="Add">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Name</label>
                                <select class="form-control" asp-for="Name" asp-items="Model.Languages"></select>
                                <span asp-validation-for="Name" class="text-danger"></span>

                                <label>Status</label>
                                <select class="form-control" asp-for="IsActive">
                                    <option selected="selected">True</option>
                                    <option>False</option>
                                </select>

                                <label>Set to default</label>
                                <select class="form-control" asp-for="IsDefault">
                                    <option selected="selected">False</option>
                                    <option>True</option>
                                </select>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button id="btn-add" type="button" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="modal fade" id="modal-confirm-change-default-language">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirm</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-danger">Are you sure you want change default language to this?</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <script type="text/javascript">
        $('#btn-add').click(function () {
            if ($('#IsDefault option:selected').text() == 'True') {
                $('#modal-confirm-change-default-language').modal();

            } else {
                $('#add-form').submit()
            }
        });
    </script>
}